/*
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
*/


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}





p {
    font-size: 14px;
}

.cart-button {
    background-color: green;
    color: white;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
